section.navigation
	height 5vh
	width 100%
	flex-direction column
	background #f3f1fb

	@media only screen and (max-width: 800px)
		height 7vh

	.container
		width 90%
		max-width 1000px
		height 100%
		justify-content space-between

	.color-bar
		height 3px                                                                                                                                                                                                                                                                                                                                                                                                      px
		width 100%
		background linear-gradient(to right, #4e54c8, #8f94fb)

	a
		padding 0 20px
		font-weight bold
		color #4e54c8
		font-size 1.3em

	input
		padding 0 20px
		font-weight bold
		font-family "Cabin"
		background none
		border none
		font-size 16px
		cursor pointer
